service cloud.firestore {
  match /databases/{database}/documents {
    match /room_data/{room}{
	  allow read;
      allow write: if request.resource.data.name.size() > 0 &&
      	request.resource.data.id.size() > 0 &&
        request.resource.data.keys().hasAll(['name', 'id', 'createdAt'])
    }
    match /rooms/{room} {
   	  allow read;
    }
    match /room_data/{room}/messages/{message} {
	  allow read;
      allow write;
    }
  }
}
